/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.c-hero {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: red;
  height: 350px;
  width: 970px;
}

.u-text-black, .u-text-black:hover, .u-text-black:focus {
  color: #000000;
}

.c-hero-button {
  position: absolute;
  right: 40px;
  top: 25px;
  width: 260px;
  height: 50px;
  background: rgba(255,255,255, 0.3);
  border: 1px solid rgba(255,255,255,0.5);
}

.c-hero-button-bottom {
  top: 280px;
}

.c-hero-button.is-invalid {
  animation: shake 0.5s; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.c-hero-button.is-hidden {
  display: none;
}

.c-hero-button:hover {
  background: rgba(255,255,255, 0.3);
  border: 1px solid rgba(255,255,255, 0.7);
}

.c-hero-button:focus {
  background: rgba(255,255,255, 0.5);
  border: 1px solid rgba(255,255,255, 0.9);
}

.c-hero-product-page {
  position: absolute;
  right: -340px;
  height: 350px;
  width: 340px;
  padding: 16px;
  font-size: 14px;
  background-color: rgba(255,255,255, 0.8);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.c-hero-product-page.is-shown {
  right: 0px;
  opacity: 1;
}

.c-hero-address-page {
  position: absolute;
  right: -340px;
  height: 350px;
  width: 340px;
  padding: 16px;
  font-size: 14px;
  background-color: rgba(255,255,255, 0.8);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.c-hero-address-page.is-shown {
  right: 0px;
  opacity: 1;
}

.c-hero-complete-page {
  position: absolute;
  right: -340px;
  height: 350px;
  width: 340px;
  padding: 16px;
  font-size: 14px;
  background-color: rgba(255,255,255, 0.8);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.c-hero-complete-page.is-shown {
  right: 0px;
  opacity: 1;
}

.c-hero-product {
  margin-top: 16px;
}

.c-hero-product p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}

.c-hero-product-button-container {
  display: flex;
}

.c-hero-product-button {
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.c-hero-product-button.out-of-stock {
  background-color: rgba(255,0,0,0.7);
  cursor: default;
}

.c-hero-input {
  width: 100%;
  margin: 2px 0px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.4);
}

.c-hero-input.is-invalid {
  border: 2px solid rgba(255,0,0,0.8);
}

