<section class="c-hero">
  <input type="hidden" name="partition_id" class="js-selected-partition" />

  <button class="js-cta c-hero-button"><%= SoPostConfiguration.call_to_action() %></button>

  <div class="js-copy-page c-hero-page"><%= SoPostConfiguration.copy() %></div>
</section>
